[submodule "dependencies/all/tinyxml2"]
	path = dependencies/all/tinyxml2
	url = https://github.com/danielgpinheiro/tinyxml2
[submodule "dependencies/all/stb_vorbis"]
	path = dependencies/all/stb_vorbis
	url = https://github.com/nothings/stb
[submodule "dependencies/xbox/nxdk"]
	path = dependencies/xbox/nxdk
	url = https://github.com/danielgpinheiro/nxdk
	branch = xbox-fix
[submodule "dependencies/xbox/vorbis"]
	path = dependencies/xbox/vorbis
	url = https://github.com/danielgpinheiro/vorbis
[submodule "dependencies/xbox/ogg"]
	path = dependencies/xbox/ogg
	url = https://github.com/xiph/ogg
[submodule "dependencies/xbox/theora"]
	path = dependencies/xbox/theora
	url = https://github.com/xiph/theora.git
[submodule "dependencies/xbox/nxdk-sdl3"]
	path = dependencies/xbox/nxdk-sdl3
	url = https://github.com/danielgpinheiro/nxdk-sdl3
	branch = rsdkv5-xbox
