[submodule "dependencies/all/tinyxml2"]
	path = dependencies/all/tinyxml2
	url = https://github.com/danielgpinheiro/tinyxml2
[submodule "dependencies/all/stb_vorbis"]
	path = dependencies/all/stb_vorbis
	url = https://github.com/nothings/stb
[submodule "dependencies/xbox/nxdk"]
	path = dependencies/xbox/nxdk
	url = https://github.com/XboxDev/nxdk
	branch = master
[submodule "dependencies/xbox/nxdk-sdl3"]
	path = dependencies/xbox/nxdk-sdl3
	url = https://github.com/danielgpinheiro/nxdk-sdl3
	branch = rsdkv5-xbox
[submodule "dependencies/all/pl_mpeg"]
	path = dependencies/all/pl_mpeg
	url = https://github.com/danielgpinheiro/pl_mpeg.git
